{% templatetag openblock %} extends "{{ app_name }}/base.html" {% templatetag closeblock %}

{% templatetag openblock %} block main {% templatetag closeblock %}
      <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1>Remove {{ app_name|title }}?</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-8">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <form action="{% templatetag openblock %} url 'app_name:delete' slug=object.slug {% templatetag closeblock %}" method="post">
                <input type="hidden" name="after" value="{% templatetag openblock %} url 'app_name:list' {% templatetag closeblock %}" />
                {% templatetag openblock %} csrf_token {% templatetag closeblock %}
                <input class="btn btn-success btn-lg" type="submit" value="Yes"/> or
                <a href="{% templatetag openblock %} url 'app_name:list' {% templatetag closeblock %}" class="btn btn-primary btn-lg">Cancel</a>
              </form>
            </div>
        </div>
{% templatetag openblock %} endblock main {% templatetag closeblock %}
